.photographer-portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.photographer-name {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 64px;
    margin: 0;
    color: #D3573C;
}

.photographer-location {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #901C1C;
}

.photographer-tagline {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #525252;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px;
}

.photo img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.photo span {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #901C1C;
    margin-top: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
}

.Photo-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Photo-likes {
    position: relative;
    cursor: pointer;
}

.Photo-like-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: -32px;
    top: 3px;
    fill: transparent;
    stroke: #901C1C;
    stroke-width: 32px;
}
.liked {
    fill: #901C1C;
}

.photographer_section {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    justify-content: space-between;
    row-gap: 70px;
}

.selector {
    display: flex;
    margin-left: 100px;
    gap: 2rem;
}

#carrousel {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#carrousel button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#carrousel .chevron svg {
    width: 48px;
    height: 48px;
}

#carrousel img {
    max-width: 900px;
    max-height: 1050px;
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    border-radius: 16px;
}

.close_carrousel {
    position: absolute;
    top: 0;
    right: 0;
}

#carrousel .carrousel_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carrousel_image_title {
    color: #901C1C;
    font-size: 24px;
    font-family: DM Sans, sans-serif;
}

.open {
    display: flex !important;

}

.photo_container {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}