.photographer-portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.photographer-name {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 64px;
    margin: 0;
    color: #D3573C;
}

.photographer-location {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #901C1C;
}

.photographer-tagline {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #525252;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px;
}

.photo img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.photo span {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #901C1C;
    margin-top: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
}

.Photo-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Photo-likes {
    position: relative;
}

.Photo-likes::before {
    content: url("/assets/icons/heart.svg");
    position: absolute;
    top: 50%;
    left: -32px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    fill: #901C1C;
}

.photographer_section {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    justify-content: space-between;
    row-gap: 70px;
}